html body {
	background-color: LimeGreen;
}

.main-container {
	background-color: white;
	padding: 15px;
	margin-top: 30px;
}

.head-text {
	text-align: center;
	padding-bottom: 15px;
}

.container-fluid {
	background-color: LimeGreen;
}

.jumbotron {
	text-align: center;
	font-style: italic;
}

.author {
	font-style: normal;
	font-size: 1em !important;
	text-align: right;
}